body{
  color: #fff;
  background: linear-gradient(0deg, #23141f, #281323, #22131e, #0000), linear-gradient(90deg, #23141f,#23141f, rgb(34 101 163 / 0%)), url(/static/media/bg.29f325ea.jpg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: auto;
  background-color: #23141f;
}
h1 {
  font-size: 48px;
  margin: 0;
}
h2 {
  margin: 0;
}